
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width:902px;margin-left:-143px;">
            <div class="modal-header " style="background:#820606;">
                <button type="button" class="close" style="opacity: 1;" data-dismiss="modal">&times;</button>

                <h4 class="modal-title" style="color:white"> E-Minute Sheet Guidelines</h4>
            </div>
            <div class="modal-body">


                <div class="list-group">
                    <a href="#" class="list-group-item active"><strong> Following steps/guidelines may be considered while using E-Minute module:</strong></a>

                    <a href="#" class="list-group-item list-group-item-success"><strong>1. Type of Minute .</strong></a>
                    <a href="#" class="list-group-item">
                        <strong>1.</strong>	For demand of any new equipment of any value (Medical, electrical, office or computer equipment) related type should be selected.

                        <br />
                        <strong>2.</strong>	For maintenance of existing equipment anything more than Rs.25,000/ “Repair Maintenance” type should be selected.
                        <br />

                        <strong>3.</strong>	For new vehicle, “MT/Vehicle” type to be selected.
                        <br />
                        <strong>4.</strong>	Stock Items: This type is only for Logistics branch for approval of new item or increase in price.

                    </a>
                    @*<a href="#" class="list-group-item"><strong>2.</strong>	For maintenance of existing equipment anything more than Rs.25,000/ “Repair Maintenance” type should be selected.</a>
                        <a href="#" class="list-group-item"><strong>3.</strong>	For new vehicle, “MT/Vehicle” type to be selected.</a>
                        <a href="#" class="list-group-item"><strong>4.</strong>	Stock Items: This type is only for Logistics branch for approval of new item or increase in price.</a>*@
                    <a href="#" class="list-group-item list-group-item-success"><strong>1.5. Non Stock Items.</strong></a>
                    <a href="#" class="list-group-item">

                        <strong>1.</strong> This is applicable for “Computer equipment” and “Repair & maintenance” type of minutes only.
                        <br />
                        <strong>2. </strong> In Repair Maintenance, sub type includes furniture fixture, civil works, medical equipment, non-medical equipment, vehicles etc.

                    </a>
                    @*<a href="#" class="list-group-item "><strong>1.</strong> This is applicable for “Computer equipment” and “Repair & maintenance” type of minutes only.</a>
                        <a href="#" class="list-group-item "><strong>2. </strong> In Repair Maintenance, sub type includes furniture fixture, civil works, medical equipment, non-medical equipment, vehicles etc.</a>*@
                    <a href="#" class="list-group-item list-group-item-success"><strong>2. Technical Person .</strong></a>
                    <a href="#" class="list-group-item">
                        <strong>1. HOD should seek input of relevant technical person for various types of minutes as below:</strong>

                        <table class="table table-bordered mb-none table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Type</th>
                                    <th>Technical Person</th>

                                </tr>

                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Medical Equipment </td>
                                    <td>Manager Biomedical</td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Electrical/Other Equipment </td>
                                    <td>Manager Maintenance</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Office Equip./Furniture & Fixtures/Vehicle/General Items  </td>
                                    <td>Manager Admin</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Computer Equipment /Software</td>
                                    <td>GM IT</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Civil Projects / Works</td>
                                    <td>Manager Projects</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Stock Items</td>
                                    <td>Chief Consultant </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Man Power</td>
                                    <td>Manager HR</td>
                                </tr>



                            </tbody>


                        </table>

                    </a>


                    <a href="#" class="list-group-item list-group-item-success"><strong>3. Routing .</strong></a>
                    <a href="#" class="list-group-item">
                        <strong> 1.</strong> User will select the type of minute as per guideline given above and forward it to HOD through supervisor if any.
                        <br />
                        <strong> 2.</strong> HOD should seek technical advice from technical person as mentioned above and then forward the minute as below:


                        <table class="table table-bordered mb-none table-hover">

                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Medical Equipment</td>
                                    <td>Chief Consultant</td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>All Other Minute Sheets </td>
                                    <td>GM Logistics</td>
                                </tr>



                            </tbody>


                        </table>

                    </a>



                    <a href="#" class="list-group-item list-group-item-success"><strong>4. Approval/Sanctioning Limits .</strong></a>
                    <a href="#" class="list-group-item">
                        <strong> 1.</strong> All minutes up to Rs.100,000/ will be approved by administrator for Rawalpindi Hospital and upto Rs,200,000/ by ED for Hospital/PIO/ACCO/Real Estate.
                        <br />
                        <strong> 2.</strong> All minutes above Rs.200,000/ will be forwarded to president through ED for approval.

                        <br />
                        <strong>3.</strong> After approval of a minute sheet it will be automatically forwarded to GM Logistics for issuance of P.O or W.O.


                    </a>

                    <a href="#" class="list-group-item active"><strong>  Facilities by System for Users</strong></a>
                    <a href="#" class="list-group-item">
                        <strong> 1.</strong> All users can check the progress of their minutes at any time and at any stage.
                        <br />
                        <strong> 2.</strong> All users are required to follow up their minutes for speedy completion / approval.


                    </a>

                </div>






            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
</div>