<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SMSApiNmber" value="03051772899" />
    <add key="SMSApiPass" value="Pakistan123@" />
  </appSettings>

  <connectionStrings>
    <add name="FixedAssetEntities" connectionString="metadata=res://*/FixedModel.FixedAssetModel.csdl|res://*/FixedModel.FixedAssetModel.ssdl|res://*/FixedModel.FixedAssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=FixedAsset;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="InventoryEntities" connectionString="metadata=res://*/InventryModel.InventryModel.csdl|res://*/InventryModel.InventryModel.ssdl|res://*/InventryModel.InventryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.41;initial catalog=Inventory;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="webserverEntities" connectionString="metadata=res://*/HimsModel.HimsModel.csdl|res://*/HimsModel.HimsModel.ssdl|res://*/HimsModel.HimsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=webserver;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.160;initial catalog=HRandPayrollDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


	  <add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=HRandPayrollDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryEntities" connectionString="metadata=res://*/InventryModel.InventryModel.csdl|res://*/InventryModel.InventryModel.ssdl|res://*/InventryModel.InventryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=Inventory;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
    <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.160;initial catalog=HRandPayrollDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  
	  <add name="AttendenceSystemEntities" connectionString="metadata=res://*/AttendanceModel.AttendanceModel.csdl|res://*/AttendanceModel.AttendanceModel.ssdl|res://*/AttendanceModel.AttendanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=AttendenceSystem;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	 

  </connectionStrings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="90000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
    
  <system.web>
    <customErrors mode="Off" />
    <!--<authentication mode="Forms">
      <forms loginUrl="/Home/Login">
      </forms>
    </authentication>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime   maxRequestLength="65535" maxUrlLength="65535" maxQueryStringLength="2097151"   targetFramework="4.5" requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,&amp;,\" />
  
      <!--<httpRuntime targetFramework="4.5"  requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,&amp;,\"  />-->
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
       
        <requestLimits maxUrl="65535"  maxQueryString="2097151" maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
	  
	  <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
	  
  </system.webServer>
  
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ICorporateCBS" />
    <binding name="BasicHttpBinding_ICorporateCBS1">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://cbs.zong.com.pk/ReachCWSv2/CorporateSMS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorporateCBS" contract="ServiceReference1.ICorporateCBS" name="BasicHttpBinding_ICorporateCBS" />
   <endpoint address="https://cbssvr-01.cmpak.local/ReachCWSv2/CorporateSMS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorporateCBS1" contract="ServiceReference1.ICorporateCBS" name="BasicHttpBinding_ICorporateCBS1" />
  </client>
 </system.serviceModel>

</configuration>
