<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-JG3C2J5\SQLEXPRESS;Initial Catalog=HRandPayrollDB;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.10;initial catalog=HRandPayrollDB;user id=sa;password=Scroll!@#$%Lock2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.10;initial catalog=HRandPayrollDB;user id=sa;password=Scroll!@#$%Lock2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="InventoryEntities" connectionString="metadata=res://*/InventryModel.InventryModel.csdl|res://*/InventryModel.InventryModel.ssdl|res://*/InventryModel.InventryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.41;initial catalog=Inventory;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.44;initial catalog=HRandPayrollDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AttendenceSystemEntities" connectionString="metadata=res://*/AttendanceModel.AttendanceModel.csdl|res://*/AttendanceModel.AttendanceModel.ssdl|res://*/AttendanceModel.AttendanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.160;initial catalog=AttendenceSystem;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.160;initial catalog=HRandPayrollDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.160;initial catalog=HRandPayrollDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FixedAssetEntities" connectionString="metadata=res://*/FixedModel.FixedAssetModel.csdl|res://*/FixedModel.FixedAssetModel.ssdl|res://*/FixedModel.FixedAssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=FixedAsset;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryEntities" connectionString="metadata=res://*/InventryModel.InventryModel.csdl|res://*/InventryModel.InventryModel.ssdl|res://*/InventryModel.InventryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=Inventory;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="webserverEntities" connectionString="metadata=res://*/HimsModel.HimsModel.csdl|res://*/HimsModel.HimsModel.ssdl|res://*/HimsModel.HimsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=webserver;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AttendenceSystemEntities" connectionString="metadata=res://*/AttendanceModel.AttendanceModel.csdl|res://*/AttendanceModel.AttendanceModel.ssdl|res://*/AttendanceModel.AttendanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=AttendenceSystem;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=HRandPayrollDB;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	  <add name="HRandPayrollDBEntities" connectionString="metadata=res://*/DBModel.HRandPayrollDBModel.csdl|res://*/DBModel.HRandPayrollDBModel.ssdl|res://*/DBModel.HRandPayrollDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.94;initial catalog=HRandPayrollDB;user id=sa;password=123MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>